body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

ul,
a {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  gap: 10px;
  color: black;
}

a {
  text-decoration: none;
  transition: color 0.3s ease;
}

a:hover {
  text-decoration: underline;
}

#container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  flex: 1;
  min-height: 100vh; /* This ensures the container takes at least the full height of the viewport */
}

/* Header Section */
#headerSection {
  background-color: #f0f0f0;
  padding-bottom: 10px;
}

img.logoImage {
  max-width: 200px;
  max-height: 100px;
  width: 100%;
  height: 100%;
}

#headerContainer {
  display: flex;
  justify-content: space-evenly;
}

#websiteTitle h3 {
  font-size: 24px;
  margin-right: 20px;
}

#navContainer {
  display: flex;
  align-items: center;
}

/* Cart placeholder */
.cart {
  display: flex;
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
  width: 30px;
  text-align: center;
  justify-content: center;
  align-items: center;
}
.cartImg {
  width: 100px;
  height: 100px;
}

/* Panel Container Section */
#panelContainerSection {
  padding: 20px;
}

.imagePlaceHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
}

#productContainer {
  width: 50%;
  padding: 0 20px;
}

#productContainer h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

#productContainer button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.imagePlaceHolder2 {
  max-width: 890px;
  max-height: 580px;
  width: auto;
  height: auto;
}
.carouselButtonContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonPlaceHolder {
  margin: 5px;
  margin-top: 30px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.svgContainer {
  display: flex;
  flex-direction: column;
}

/* About Us Page Section */
#aboutUsPageSection {
  background-color: #f9f9f9;
}

#aboutUsPageSection h2 {
  font-size: 28px;
}

/*Featured Products */
Section / #featuredProductsSection {
  padding: 20px;
}

#featuredProductsSection h2 {
  font-size: 28px;
}

#FeatureProductsContainers {
  display: flex;
  flex-wrap: wrap;
}

#chipContainers {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.ProductsContainer {
  width: 30%;
  padding: 20px;
  text-align: center;
}

.chipContainer {
  flex: 0 1 300px;
  border: 2px solid #000;
  padding: 20px;
  margin-bottom: 20px;
  background-color: #f1f1f1;
  margin: 10px;
}

.chipImage {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

img.chipImage2 {
  max-width: 100%;
  max-height: 200px;
  width: auto;
  height: auto;
}

.chipDetail {
  background-color: #d1d0d0;
  border: 1px solid #000;
  border-radius: 4px;
  padding: 5px;
  margin-bottom: 10px;
}

.productImage {
  background-color: white;
  padding: 100px 0;
}

.ProductsContainer button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

img.productImage2 {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin: 5px;
}

.buttonLink {
  color: white;
}

#newsletterSection {
  display: flex;
  justify-content: center;
  padding: 20px;
}

#newsLetterContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

#newsletterSection label {
  display: block;
  font-size: 18px;
  margin-right: 10px;
}

#newsletterSection input[type='email'] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#newsletterSection button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*Footer Section */
#footerSection {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
  margin-top: auto;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}

/* Styling for the button */
.shoppingCartItem__button {
  background-color: #ff0000;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 8px 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  margin-top: 10px;
}

.shoppingCartItem__button:hover {
  background-color: #830000;
}

.createNewUserContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  max-width: 400px;
  margin: 0 auto;
}

.createNewUserContainer p {
  font-size: 14px;
}

.createNewUserContainer form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.highlights {
  border: 2px solid red;
}

.error-message {
  color: red;
  margin-bottom: 5px;
}

/* Single Chip Page */

.single-product-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

.info-container {
  background-color: #ccc;
  max-width: 767px;
  padding: 20px 10px;
}

.chip-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.chip-brand {
  font-size: 40px;
}
.chip-ingredients,
.chip-size {
  font-size: 14px;
  margin: 5px 0;
}

.chip-baked {
  font-size: 14px;
  margin: 5px 0;
  color: var(--dark-grayish-blue);
}

.chip-price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.single-chip-add-to-cart {
  background-color: #007bff;
  color: #f0f0f0;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.single-chip-add-to-cart:hover {
  background-color: hsl(26, 100%, 45%);
}

.chip-img-container {
  display: flex;
  align-items: center;
}

.img-single-chip {
  max-width: 500px;
  max-height: 500px;
  height: auto;
  width: fit-content;
}

.nutrition-image {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
}

/* stripe */
.FormGroup {
  margin: 0 15px 20px;
  padding: 0;
  border-style: none;
  background-color: #7795f8;
  will-change: opacity, transform;
  box-shadow: 0 6px 9px rgba(50, 50, 93, 0.06), 0 2px 5px rgba(0, 0, 0, 0.08),
    inset 0 1px 0 #829fff;
  border-radius: 4px;
}
.FormRow {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin-left: 15px;
  border-top: 1px solid #819efc;
}

.StripeElement--webkit-autofill {
  background: transparent !important;
}

.StripeElement {
  width: 100%;
  padding: 11px 15px 11px 0;
}
