body {
  font-family: sans-serif;
  margin: 0;
  padding: 0;
}

ul,
a {
  list-style: none;
  display: flex;
  justify-content: space-around;
  margin: 10px;
  gap: 10px;
  color: black;
}

#container {
  display: flex;
  flex-direction: column;
  font-family: Arial, sans-serif;
  max-width: 1200px;
  margin: 0 auto;
  padding: 20px;
}

/* Header Section */
#headerSection {
  background-color: #f0f0f0;
  padding: 10px 0;
}

img.logoImage {
  max-width: 200px;
  max-height: 100px;
  width: 100%;
  height: 100%;
}

#headerContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 20px;
}

#websiteTitle h3 {
  font-size: 24px;
  margin-right: 20px;
}

#navContainer {
  display: flex;
  align-items: center;
}

/* Cart placeholder */
.cart {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border-radius: 4px;
  cursor: pointer;
}

/* Panel Container Section */
#panelContainerSection {
  padding: 20px;
  display: flex;
  flex-direction: column;
}

.imagePlaceHolder {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

img.imagePlaceHolder2 {
  max-width: 100%;
  max-height: 100%;
}

#productContainer {
  width: 50%;
  padding: 0 20px;
}

#productContainer h4 {
  font-size: 20px;
  margin-bottom: 10px;
}

#productContainer button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.imagePlaceHolder2 {
  max-width: 890px;
  max-height: 580px;
  width: auto;
  height: auto;
}
.carouselButtonContainer {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}
.buttonPlaceHolder {
  margin: 5px;
  margin-top: 30px;
  background-color: #007bff;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}
.svgContainer {
  display: flex;
  flex-direction: column;
}

/* About Us Page Section */
#aboutUsPageSection {
  background-color: #f9f9f9;
  padding: 20px;
}

#aboutUsPageSection h2 {
  font-size: 28px;
  margin-bottom: 10px;
}

/*Featured Products */
Section / #featuredProductsSection {
  padding: 20px;
}

#featuredProductsSection h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

#FeatureProductsContainers {
  display: flex;
  flex-wrap: wrap;
}

.ProductsContainer {
  width: 30%;
  padding: 20px;
  text-align: center;
}

.productImage {
  background-color: white;
  padding: 100px 0;
  margin-bottom: 10px;
}

.ProductsContainer button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

img.productImage2 {
  max-width: 200px;
  max-height: 150px;
  width: auto;
  height: auto;
  margin: 5px;
}

.buttonLink {
  color: white;
}

#newsletterSection {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 20px;
}

#newsLetterContainer {
  display: flex;
  align-items: center;
  gap: 10px;
}

#newsletterSection label {
  display: block;
  font-size: 18px;
  margin-right: 10px;
}

#newsletterSection input[type='email'] {
  padding: 8px;
  border: 1px solid #ccc;
  border-radius: 4px;
}

#newsletterSection button {
  background-color: #007bff;
  color: #fff;
  padding: 8px 16px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/*Footer Section */
#footerSection {
  background-color: #f0f0f0;
  padding: 20px;
  display: flex;
  justify-content: space-evenly;
}

a {
  text-decoration: none;
}

label {
  display: block;
}

nav a {
  display: inline-block;
  margin: 1em;
}

form div {
  margin: 1em;
  display: inline-block;
}


.createNewUserContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.highlights {
  border: 2px solid red;
}

.error-message {
  color: red;
  margin-bottom: 5px;
}


/* Single Chip Page */

.single-product-container {
  width: 100vw;
  display: flex;
  justify-content: center;
  border: 2px solid black;
}

.info-container {
  background-color: #ccc;
  max-width: 767px;
  padding: 20px 10px;
}

.chip-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

.chip-brand{
  font-size: 40px;
}
.chip-ingredients,
.chip-size {
  font-size: 14px;
  margin: 5px 0;
}

.chip-baked {
  font-size: 14px;
  margin: 5px 0;
  color: var(--dark-grayish-blue);
}

.chip-price {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.single-chip-add-to-cart{
  background-color: #007bff;
  color: #f0f0f0;
  font-size: 16px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

.single-chip-add-to-cart:hover {
  background-color: hsl(26, 100%, 45%);
}

.chip-img-container {
  display: flex;
  align-items: center;
}

.img-single-chip {
  max-width: 500px;
  max-height: 500px;
  height: auto;
  width:fit-content;
}

.nutrition-image {
  max-width: 300px;
  max-height: 300px;
  width: auto;
  height: auto;
}
