*{
    margin:0;
    padding:0;
    font-family: 'Poppings', sans-serif;
    box-sizing:border-box;
}

.footer {
   
    width:100%;
    padding:100px 15%;
    background:#333;
    color:#efefef;
    display:flex;
}

.footer div{
    text-align:center;
}

.col-1-links{
    display:flex;
    flex-direction:column;
    align-items: center; 
  
  justify-content:center;
}

.col-2{
    display: flex;
  flex-direction: column;
  align-items: center; 
  text-align: center; 
}

.footer div h3{
    font-weight:300;
    margin-bottom:30px;
    letter-spacing:1px;
}

.col-1 a{
    display:block;
    text-decoration:none;
    color:#efefef;
    margin-bottom:30px;
}

.col-1 a:hover{
    text-decoration:underline;
}

#subscribeInput {
    width:400px;
    height:45px;
    border-radius:4px;
    text-align:center;
    margin-top:20px;
    margin-bottom:40px;
    outline:none;
    border:none;
}

#subscribeButton { 
    background:transparent;
    border: 2px solid #fff;
    color:#fff;
    border-radius:30px;
    padding: 10px 30px;
    font-size:15px;
    cursor:pointer;
}


#subscribeButton:hover {
   box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
   background: #ccc; 
   color: #000; 
}

#subscribeButton:active {
  background: #fff;
  color: #000; 
  border-color: #000; 
}

.social-icons{
    margin-top:30px

}

.social-icons i {
    font-size:22px;
    margin:10px;
    cursor:pointer;
    transition: color 0.3s ease;
}

.social-icons i :hover {
    border: 2px solid white;
  border-radius: 50%; 
}

.input-container {
  width: 100%; 
  text-align: center; 
}

